IndentWidth: 4
---
Language: Cpp
PointerAlignment: Middle
AccessModifierOffset: -4
IncludeBlocks: Merge
NamespaceIndentation: All
FixNamespaceComments: true
---
Language: JavaScript
JavaScriptQuotes: Double
JavaScriptWrapImports: true
---
Language: Json
