#      ------      Skylix Git Ignore Template      ------      #
# This GitIgnore template is under the MIT license and can be used freely.

#      ------              NodeJS Files            ------      #
node_modules/
packages/*/build/

#      ------              Elixor Files            ------      #
xs/build/

#      ------         Non Skylix IDE Files         ------      #
.idea/
.vscode/
