#
#                                                ((((//////
#                                             ((((((////*
#                                          .((((((////
#            ########((                  ((((((((//
#              *####(((((             /((((((((/.
#                 (((((((((/        (((((((((/
#                   (((((((((    .(((((((((
#                ((((((((((        *(((((((//
#             #(((((((((              ((((/////,
#           #(((((((((                  //////////
#        ##((((((((
#     ####((((((/
#   ####((((((
#

# Common CMake build directories
build/
dist/
generated/
cmake-build-debug/
